<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyhao.micro.personnel.mapper.LogLoginMapper">

    <sql id="LogLoginColumnAll">
        login_id,user_name,ip,location,browser,os,login_time
    </sql>

    <resultMap id="LogLoginResult" type="com.easyhao.micro.personnel.entity.LogLogin">
        <id column="login_id" property="loginId"/>
        <result column="user_name" property="userName"/>
        <result column="ip" property="ip"/>
        <result column="location" property="location"/>
        <result column="browser" property="browser"/>
        <result column="os" property="os"/>
        <result column="login_time" property="loginTime"/>
    </resultMap>

    <insert id="insertLogin">
        insert into log_login values (null,#{userName},#{ip},#{location},#{browser},#{os},now());
    </insert>

    <select id="selectLoginList" resultMap="LogLoginResult">
        select <include refid="LogLoginColumnAll"/> from log_login ORDER BY login_id desc
    </select>


</mapper>